digraph G {
  concentrate=true;
  overlap=false;
  splines=true;
  ranksep=0.7;
  
#foreach($class in $classes)
  subgraph cluster_${class.ID} {
    color=grey;
    labeljust="l";
    node [style=dotted, shape=box];
    label="${class.Name}";
  #foreach($method in $methods)
    #if($method.Class == ${class.ID})
      ${method.ID} [label="${method.Name}"];
    #end
  #end
  }
#end
#foreach($invok in $invocations)
  $invok.caller -> $invok.callee
#end
}
