digraph G {
  concentrate=true;
  overlap=false;
  splines=true;
  ranksep=0.7;
  
#foreach($class in $classS)
  subgraph cluster_${class.id} {
    color=grey;
    labeljust="l";
    node [style=dotted, shape=box];
    label="${class.name}";
  #foreach($method in $methodS)
    #if($method.class == ${class.id})
      ${method.id} [label="${method.name}"];
    #end
  #end
  }
#end
#foreach($invok in $invocationS)
  $invok.caller -> $invok.callee ;
#end
}
