/*
The command line is

  dot -Tsvg fsm.dot > fsm.svg

and the file is:
*/
digraph fsm {
  node [shape=circle];

#foreach($node in $nodes)  
  #if ($node.type == "start")
    ${node.name} [label = "${node.name}", shape=doublecircle];
  #elseif ($node.type == "stop")
    ${node.name} [label = "${node.name}", shape=doubleoctagon];
  #else
    ${node.name} [label = "${node.name}"];
  #end
#end
    
#foreach($edge in $edges)
  ${edge.startsAt} -> ${edge.endsAt};
#end
}
