/*
The command line to create an SVG output is:

  dot -Tsvg ${filename}.dot > ${filename}.svg
  
*/
digraph fsm {
  node [shape=circle];

#foreach($node in $nodes)  
  #if ($node.type == "start")
    ${node.name} [label = "${node.name}", shape=doublecircle];
  #elseif ($node.type == "stop")
    ${node.name} [label = "${node.name}", shape=doubleoctagon];
  #else
    ${node.name} [label = "${node.name}"];
  #end
#end
    
#foreach($edge in $edges)
  ${edge.startsAt} -> ${edge.endsAt};
#end
}
