#set($MARKER="//----")
#foreach($clazz in $clazzS)
${MARKER}src/ipk/${clazz.name}.java
class ${clazz.name} {
#foreach($attribute in $attributeS)
#foreach($dataType in $dataTypeS)
#if($attribute.type == $dataType.id && $attribute.clazz == $clazz.id)
  public ${dataType.name} ${attribute.name};
#end
#end
#end
  private Integer primaryKey;
  
  public Integer getPrimaryKey() {
    return this.primaryKey;
  }
}
#end
