#set($MARKER="//----")
${MARKER}src/classToRelational_2.sql
#foreach($tab in $tableS)

CREATE TABLE ${tab.tableName}(
#set($fieldCount=0)
#foreach($col in $columnS)
##set($pid=${col.belongsTo})
##set($tid=${tab.tableId})
#if(${col.belongsTo} == ${tab.tableId})
#set($fieldCount=$fieldCount + 1)
#end
#end
#set($colCount = 0)
#foreach($col in $columnS)
#if(${col.belongsTo} == ${tab.tableId})
#set($colCount=$colCount + 1)
#if(${col.fieldType} == "integer")
#if(${col.field} == "primary")
   ${col.field} INT NOT NULL, PRIMARY KEY(${col.field})#if(${colCount} == ${fieldCount}) );#else,
#end
#else
   ${col.field} INT NOT NULL#if(${colCount} == ${fieldCount}));#else,
#end
#end
#end
#if(${col.fieldType} == "string")
   ${col.field} VARCHAR(50)#if(${colCount} == ${fieldCount}));#else,
#end
#end
#end
#end
#end