#set($MARKER="//----")
##${MARKER}createPersonDB.sql
#set($test=${PersonS.get(0).keySet()})
${PersonS.get(0).keySet()}
${MARKER}src/peopleTables.sql

CREATE TABLE person(
   personId INT NOT NULL, PRIMARY KEY(personId),
   firstName VARCHAR(30),
   closestFriendId INT);
#foreach($Person in $PersonS)
INSERT INTO person
   (personId, firstName, closestFriendId)
   VALUES (${Person.personId}, "${Person.firstName}", ${Person.closestFriendId});
#end

CREATE TABLE family_members(
   familyId INT NOT NULL,
   personId INT NOT NULL, PRIMARY KEY(personId));
#foreach($fm in $Family_membersS)
INSERT INTO family_members
   (familyId, personId)
   VALUES (${fm.familyId}, ${fm.personId});
#end

CREATE TABLE person_emailAddresses(
   personId INT NOT NULL, PRIMARY KEY(personId),
   emailAddress VARCHAR(50));
#foreach($ea in $Person_emailAddressesS)
INSERT INTO person_emailAddresses
   (personId, emailAddress)
   VALUES (${ea.personId}, "${ea.emailAddresses}");
#end

CREATE TABLE family(
   familyId INT NOT NULL, PRIMARY KEY(familyId),
   name VARCHAR(30));
#foreach($fam in $FamilyS)
INSERT INTO family
   (familyId, name)
   VALUES (${fam.familyId}, "${fam.name}");
#end