#macro( strip $s )${s.replace("'", "")}#end
#foreach($family in $familyS)
#foreach($member in $memberS)    
#set($isMale = ${member.fatherFamilyId} == ${family.id} 
    || ${member.sonFamilyId} == ${family.id})
#set($isFemale = ${member.motherFamilyId} == ${family.id} 
    || ${member.daughterFamilyId} == ${family.id})        
#if($isMale)
Mr. #strip(${member.firstname}) #strip(${family.lastname})

#elseif($isFemale)
Mrs. #strip(${member.firstname}) #strip(${family.lastname})
    
#end
#end
#end
