#set($MARKER="//----")
${MARKER}tmp/Current.java
package fsm;

class Current {

  public static Current current = new Start();  

#foreach($node in $nodeS)
  public void goto${node.name}() {}
#end
}


#foreach($node in $nodeS) 
${MARKER}tmp/${node.name}.java
package fsm;

class $node.name extends Current {
#foreach($edge in $edgeS)
  #if ($edge.startsAt == $node.name)
  
  public void goto${edge.endsAt}() {
    current = new ${edge.endsAt}();
  }  
  #end
#end

}

#end
